<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Números Pares e Impares
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Ingrese un número:</ion-label>
    <ion-input type="number" [(ngModel)]="userNumber"></ion-input>
  </ion-item>
  <ion-segment [(ngModel)]="selectedOption">
    <ion-segment-button value="pares">
      Pares
    </ion-segment-button>
    <ion-segment-button value="impares">
      Impares
    </ion-segment-button>
  </ion-segment>

  <ion-button expand="full" (click)="calculate()">Calcular</ion-button>

  <ion-list *ngIf="resultArray.length > 0">
    <ion-item *ngFor="let num of resultArray">
      {{ num }}
    </ion-item>
  </ion-list>
</ion-content>