<ion-header>
  <ion-toolbar>
    <ion-title>
      Fibonacci App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ingrese el número:</ion-label>
    <ion-input type="number" [(ngModel)]="userInput"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="generateFibonacci()">Generar Serie Fibonacci</ion-button>

  <ion-list>
    <ion-item *ngFor="let number of fibonacciSeries; let i = index">
      {{ i + 1 }}: {{ number }}
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="goToHomePage()">Volver a la página principal</ion-button>
</ion-content>

